body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    max-width: 280px;
}

select {
    max-width: 500px;
}

#selector {
    margin: 100px 0 100px 0;
}

select#act_list {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #3B9FD9;
	background: #0d98e8 url(../img/control_down.png) no-repeat right center;
	color: #FFFFFF;
	border: 0;
	font-size: 1.5em;
	padding: 2%;
	/*margin-left: 25%;
	margin-top: 5%;*/
	width: 100%;
	cursor: pointer;
	float: left;
	text-align: left;
	clear: both;
}

#act_list:hover {
	background-color: #0B88D0;
}


.project-title {
    font-size: 5em;
}

.project-tagline {
    font-size: 3em;
    margin-bottom: 20px;
}

.project-info {
    font-size: 1.5em;
}

.project-tech {
    font-size: 1em;
    font-family: 'Courier New';
}
